DEPLOYMENT_PROFILE=local
ACCOUNT_SERVER_HOST=127.0.0.1
ACCOUNT_SERVER_PORT=3010
ACCOUNT_SERVER_PUBLIC_URL=http://127.0.0.1:3010
ACCOUNT_DB_HOST=127.0.0.1
ACCOUNT_DB_PORT=5432
ACCOUNT_DB_NAME=pomegranate_account
ACCOUNT_DB_USER=local_account_user
ACCOUNT_DB_PASSWORD=replace_with_local_development_password
NODE_ENV=development
OIDC_DEBUG_CLAIM_TYPES=false
CASDOOR_PUBLIC_URL=http://127.0.0.1:8000
CASDOOR_CLIENT_ID=replace_with_casdoor_client_id
CASDOOR_CLIENT_SECRET=replace_with_casdoor_client_secret
CASDOOR_REDIRECT_URI=http://127.0.0.1:3010/auth/callback
CASDOOR_ORGANIZATION=pomegranate
CASDOOR_APPLICATION=app-pomegranate
FILE_STORAGE_BACKEND=filesystem
USER_FILES_ROOT=D:\PomegranateServer\data\user-files
FILE_STORAGE_ALLOW_LEGACY_ROLLBACK=false
USER_FILE_MAX_BYTES=20971520
